@import url(variables.css);

body {
  padding: 0;
  margin: 0;
  background-color: var(--body-background-color);
  color: var(--font-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  a {
    color: var(--font-color);
    text-decoration: none;
  }
}

border {
  color: var(--border-color);
}
